
.abouttext{
    border: 2px solid black;
    color: red;
    padding: 2rem;
    width: 50vw;
    height: 60vh;
    z-index: 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.6rem + 1vw);
   backdrop-filter: blur(4px);
    
    position: absolute;
    left: calc(5rem + 5vw);
    top: 10rem;
  
    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
}
